
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}


body{
    display: flex;
    height:100vh;
    width: 100vw;
    background-color: rgb(237, 242, 248);
    font-family: 'M PLUS Rounded 1c', sans-serif;
    /*font-family: 'Lato', sans-serif;*/
}

.main{
    background-color: rgb(255, 255, 255);
    border-radius: 1em 1em 0 0 ;
}


.heading{
    color:rgb(73, 85, 107);
    font-weight: 700;
    font-size:1.05rem;
    line-height:1.5rem;
}

.content{
    color:rgb(133, 139, 148);
    font-size: 0.88rem;
    font-weight: 500;
    line-height: 1.3rem;
}
.share-before{
    display: flex;
    
}

.profile{
    border-radius: 70%;
    
}
.footer{
    display: flex;
    background-color:rgb(255, 255, 255);
    width:100%;
    height:5.5em;
    margin-top:-0.5em;
    
    
}
.name{
    color:rgb(73, 85, 107);
    font-size: 0.85rem;
    font-weight: 700;
}
.date{
    color:rgb(165, 170, 178);
    font-size: 0.8rem;
    line-height: 1.6rem;
    font-weight: 500;
}
.details{
    padding-left: 1em;
}
.img-div{
    background-image: url("./images/drawers.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
/*media query start*/
@media screen and (min-aspect-ratio:16/9), screen and (min-width:768px){
    /*for desktop*/
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(237, 242, 248);
    }
    .share-after{
        display:none;
    }
    .main{
        display: flex;
        flex-direction: row;
        height: 272px;
        width: 717px;
        border-radius: 0.5em;
        box-shadow: 0em 1em 4em rgba(73, 85, 107,0.15);
    }
    .img-div{
        height: 100%;
        width:47em;
        background-size:cover;
        background-position: unset;
        border-radius: 0.5em 0 0 0.5em;
        
    }
    .text-content{
        padding: 2.2em 3.5em 0 2.2em;
    }
    .footer{
        background-color: peachpuff;
        position: absolute;
        left:44%;
        top:57.5%;
        width: 32.5%;
        display: flex;
        justify-content: space-between;
    }
    .heading{
        font-size: 1.2rem;
        line-height: 1.6rem;
        margin-bottom: 0.7em;
        
    }

    .content{
        font-family: 'Lato', sans-serif;
        font-weight: 500;
    }
    
}

@media screen and (max-aspect-ratio:9/16), screen and (max-width:390px){
    /*for mobile*/
    body{
        background-color: rgb(237, 242, 248);
        
    }
    .img-div{
       
        border-radius: 1em 1em 0 0 ;
        height: 50%;
        width: 100%;
    }

    .main{
        width: 67em;
        height: 67%;
        margin: 4em 2em 4em 2em;
        $mainContent:67%;
    }
    .text-content{
        padding: 2.1em 1.8em 0 1.5em;

    }
    
    .content{
        margin: 0.7em 0 0.7em 0;
    }
    .share-before{
        flex-direction: row;
    }
    .footer{
        padding: 1.7em 0 0 2em;
        border-radius: 0 0 1em 1em;
    }
    .share-after{
        position: absolute;
        display: flex;
        flex-direction: row;
        border-radius:0 0 1em 1em;
        background-color: rgb(73, 85, 107);
        height:4.8em;
        margin-top: -0.7em;
        left:2.2em;
        padding:1.7em 0 0 2em;
        min-width:83%;

        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size:0.9em;
        color:rgb(129, 141, 163);
        font-weight: 500;
        transform:scaleY(0);
        opacity:0;
        transition: all 200ms ease-in;
        
    }
    .social{
        margin-left: 1.8em;
    }
    .icon{
        margin-right:0.9em;
    }
}
/*end of media query*/
p{
    margin:0;
    background-color: white;
}


/*rgb(236, 239, 244);*/
.btn{
    display: flex;
    appearance:none;
    border:none;
    background-color:rgb(236, 242, 249);
    height: 2.4em;
    width: 2.4em;
    border-radius: 70%;
    margin-left: 3.5em;
    margin-top:0.5em;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: scale(1);
    transition: all 200ms ease;
    .share-img{
        pointer-events: none;
    }
    &:focus{
        outline: none;
        transition: all 200ms ease;
    }


}