
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}


body{
    display: flex;
    height:100vh;
    width: 100vw;
    background-color: rgb(237, 242, 248);
    /*font-family: 'M PLUS Rounded 1c', sans-serif;*/
    font-family: 'Lato', sans-serif;
}

.main{
    background-color: rgb(255, 255, 255);
    border-radius: 1em 1em 0 0 ;
}
.img-div{
    border-radius: 1em 1em 0 0 ;
}

.heading{
    color:rgb(73, 85, 107);
    font-weight: 700;
    font-size:1.05rem;
    line-height:1.5rem;
}

.content{
    color:rgb(133, 139, 148);
    font-size: 0.88rem;
    font-weight: 500;
    line-height: 1.3rem;
}
.share-before{
    display: flex;
    
}

.profile{
    border-radius: 70%;
    
}
.footer{
    display: flex;
    background-color:rgb(255, 255, 255);
    width:100%;
    height:5.5em;
    margin-top:-0.5em;
    
}
.name{
    color:rgb(73, 85, 107);
    font-size: 0.85rem;
    font-weight: 700;
}
.date{
    color:rgb(165, 170, 178);
    font-size: 0.8rem;
    line-height: 1.6rem;
    font-weight: 500;
}
.details{
    padding-left: 1em;
}
/*media query start*/
@media screen and (min-aspect-ratio:17/10){
    /*for desktop*/
    body{
        background-color: rgb(237, 242, 248);
    }
}

@media screen and (max-aspect-ratio:9/16){
    /*for mobile*/
    body{
        background-color: rgb(237, 242, 248);

    }
    .img-div{
        background-image: url("./images/drawers.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 50%;
        width: 100%;
    }

    .main{
        width: 87%;
        height: 67%;
        margin: 4em 2em 4em 2em;
    }
    .text-content{
        padding: 2.1em 1.8em 0 1.5em;

    }
    
    .content{
        margin: 0.7em 0 0.7em 0;
    }
    .share-before{
        flex-direction: row;
    }
    .footer{
        padding: 1.7em 0 0 2em;
        border-radius: 0 0 1em 1em;
    }
    .share-after{
        position: absolute;
        border-radius:0 0 1em 1em;
        background-color: rgb(73, 85, 107);
        height:4.5em;
        margin-top: -0.7em;
        left:2em;
        padding:1.7em 0 0 2em;
        width: 83%;
        font-family: 'Lato', sans-serif;
        font-size:0.9em;

    }
}
/*end of media query*/
p{
    margin:0;
    background-color: white;
}


/*rgb(236, 239, 244);*/
.btn{
    display: flex;
    appearance:none;
    border:none;
    background-color:rgb(236, 242, 249);
    height: 2.4em;
    width: 2.4em;
    border-radius: 70%;
    margin-left: 3.5em;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: scale(1);
    transition: all 200ms ease;
    .share-img{
        pointer-events: none;
    }
    &:focus{
        outline: none;
        transition: all 200ms ease;
    }


}